@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
  --ff-primary- : 'Lato', sans-serif;

  --fw-light- : 300;
  --fw-normal- : 400;
  --fw-semibold- : 700;
  --fw-bold- : 900;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary-);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(174,140,91,1), rgba(140,86,56,1));
}

h1, h2, p, button{
  text-transform: uppercase;
  text-align: center;
}

h2{
  font-weight: var(--fw-light-);
  font-size: 3em;
}

.container {
  background-color: white;
  min-width: 90vw;
  height: 90vh;
  background-image: linear-gradient(
    to right,
    white 0%,
    rgba(169, 169, 169, 0.3) 50%,
    rgba(169, 169, 169, 0.2) 50%,
    white 100%
  );

}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8em;
  max-width: 90vw;
}

main {
  display: flex;
  flex-direction: column;
  align-content:space-between;
  justify-content: space-between;
  height: 70vh;
}

.button {
  display:flex;
  align-items: center;
  gap: 0.5em;
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  opacity: 0.6;
}

.button > img {
  padding-bottom: 5px;
}

.button:hover {
  cursor: pointer;
}

.player-box {
  display: flex;
  justify-content: space-evenly;
}

.player-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}

.display-round {
  font-size: 5em;
  font-weight: var(--fw-light-);
  color: #e8a9b3;
}

.red-dot{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}

.center{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1em;
  
}

.dice{
  display: grid;
  place-items: center;
  width: 8em;
  height: 8em;
  background-color: white;
  opacity: 0.9;
  margin-top: 1em;
  border-radius: 2px;
  box-shadow: 1px 1px 8px 0 grey;
}

.action-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2em;
}

.current-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  width: 10em;
  height: 8em;
  background-color: #eb4d4c;
}

.display-current-score{
  color:white;
  font-weight: var(--fw-light-);
  font-size: 3em;
}

.active{
  opacity: 0.3;
}

.dot{
  display : none;
}

.shake {
  animation: shake 0.5s infinite;
}
@keyframes shake {
  0%{
      transform: rotate(10deg);
  }
  50%{
    transform: rotate(-10deg);
  }
  100%{
    transform: rotate(10deg);
  }
  
}

@media  screen and (min-width: 55em) {
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
  }
  .player-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
  }
  .player-display {
    display: flex;
    flex-direction: column;
  }
  .center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 4em;
    height: 53vh;
  }
  .display-round {
    font-size: 10em;
  }
}